@import '../../../_helpers/variables';

.book {
  display: flex;
  align-items: center;
  border-bottom: 1px solid $border_color;
  padding: 30px 0;
  .avatar {
    flex: 0.3;
    //display: flex;
    //justify-content: center;
  }
  .name {
    flex: 0.4;
    padding: 0 5px;
  }
  .price {
    flex: 0.1;
    padding: 0 5px;
  }
  .quantity {
    flex: 0.2;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .quantity-product {
      padding: 0 5px;
    }
    mat-icon {
      cursor: pointer;
    }
  }
}
