<div class="product">

  <div class="avatar">IMG</div>

  <div class="name">
    <span>{{order.product.name}}</span>
  </div>

  <div class="price">
    <span><strong>{{order.product.price | currency: 'USD' : true}}</strong></span>
  </div>

  <div class="quantity">
    <mat-icon class="fail-color" (click)="decreaseQuantity()">remove</mat-icon>
    <span class="quantity-product">{{order.quantity}}</span>
    <mat-icon class="success-color" (click)="increaseQuantity()">add</mat-icon>
  </div>

</div>
