@import '../../../_helpers/variables';

.book {
  display: flex;
  //align-items: center;
  border-bottom: 1px solid $border_color;
  padding: 10px 0 10px 10px;
  .avatar {
    flex: 0.3;
    &:hover {
      cursor: pointer;
    }
  }
  .name {
    flex: 0.55;
    padding: 0 5px;
    display: flex;
    flex-direction: column;
    .title {
      font-weight: 700;
      padding-right: 10px;
    }

    .author {
      padding-top: 10px;
      font-size: 80%;
    }
  }
  .actions {
    flex: 0.15;
    .price {
      display: flex;
      justify-content: flex-end;
      padding-right: 10px;
    }
    .quantity {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      input[type=number]{
        font-size: 120%;
        width: 40px;
        height: 20px;
      }
      .quantity-input{
        margin-top: 10px;
        display: flex;
        justify-content: flex-end;
      }
    }
    mat-icon {
      cursor: pointer;
    }
  }
  &:hover {
     background: $border_color;
   }
}
