@import '../../../_helpers/variables';

.book {
  display: flex;
  align-items: center;
  border-bottom: 1px solid $border_color;
  padding: 10px 0 10px 10px;
  .avatar {
    flex: 0.25;
  }
  .name {
    flex: 0.4;
    padding: 0 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .title {
      font-weight: 700;
    }

    .author {
      padding-top: 10px;
      font-size: 80%;
    }
  }
  .price {
    flex: 0.1;
    padding: 0 5px;
  }
  .quantity {
    flex: 0.25;
    display: flex;
    align-items: center;
    font-size: 120%;
    justify-content: flex-end;
    .quantity-product {
      padding-right: 10px;
    }
    mat-icon {
      cursor: pointer;
    }
  }&:hover {
     background: $border_color;
   }
}

.test {  }
