<div class="my-toolbar" [ngClass]="{'my-toolbar-small-devices': hideSidenav, 'my-toolbar-big-devices': !hideSidenav}">

  <button mat-button fxHide fxShow.sm="true" (click)="sideNav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>

  <span fxHide.xs="true" class="spacer-vertically"></span>

  <button mat-button fxHide fxShow.xs="true" (click)="sideNav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>

  <button mat-button *ngIf="!searchInputFocused" (click)="searchInputFocused = true;">
    <mat-icon>search</mat-icon>
    <span fxHide.xs="true">Search</span>
  </button>

  <form class="search-form" *ngIf="searchInputFocused">
    <mat-form-field class="full-width" floatPlaceholder="never">
      <form (ngSubmit)="searchBook()">
        <input placeholder="Search" matInput [formControl]="myControl" [matAutocomplete]="auto" autofocus>
      </form>

      <mat-autocomplete #auto [displayWith]="displayFn">
        <div *ngFor="let option of filteredOptions | async; let i=index" style="padding: 10px">
          <mat-option *ngIf="i<10" [value]="option" [routerLink]="['/book', option.key]" style="padding: 10px">
            <img style="vertical-align:middle;" aria-hidden [src]="option.image" height="64" />
            <span>{{ option.title | limitChar: '55'}}</span> |
            <small>Price: {{option.price | currency: 'USD': true}}</small>
          </mat-option>
        </div>
      </mat-autocomplete>

    </mat-form-field>
    <button mat-button (click)="searchInputFocused = false" class="close-button">
      <mat-icon>close</mat-icon>
    </button>
  </form>


  <button mat-button (click)="cartNav.toggle()">
    <mat-icon>shopping_cart</mat-icon>
    <span fxHide.xs="true">Cart</span>
    <span *ngIf="_cartService.orders.length > 0">({{_cartService.orders.length}})</span>
    <span *ngIf="_cartService.orders.length === 0">(empty)</span>
  </button>

  <button mat-button *ngIf="!_authService.authenticated" (click)="openAuthDialog()">
    <mat-icon>perm_identity</mat-icon>
    <span fxHide.xs="true">Login</span>
  </button>

  <button mat-button [matMenuTriggerFor]="userSettings" *ngIf="_authService.authenticated">
    <mat-icon class="text-right">account_circle</mat-icon>
    <span fxHide.xs="true">{{_authService.currentUserDisplayName}}</span>
    <mat-icon fxShow fxHide.xs="true">keyboard_arrow_down</mat-icon>
  </button>

</div>

<!-- menu options -->
<mat-menu #userSettings="matMenu">
  <button mat-menu-item [routerLink]="['/profile']">
    <mat-icon>perm_identity</mat-icon>
    <span>Profile</span>
  </button>
  <button mat-menu-item [routerLink]="['/orders']">
    <mat-icon>history</mat-icon>
    <span>Order History</span>
  </button>
  <button mat-menu-item (click)="logout()">
    <mat-icon>exit_to_app</mat-icon>
    <span>Logout</span>
  </button>
</mat-menu>
