@import "../../_helpers/variables";

.my-toolbar {
  position: fixed;
  top: 0;
  z-index: 2;
  background-color: $material_indigo;
  padding: 10px 20px;
  color: $primary_white;
  display: flex;
  justify-content: space-between;
  @media #{$gt-xs_size} {
    justify-content: flex-end;
  }
  @include box_shadow();
}

.my-toolbar-big-devices {
  width: calc(100vw - 290px);
}

.my-toolbar-small-devices {
  width: calc(100vw - 40px);
}

.search-form {
  margin: 10px 10px 0 10px;
  color: $primary_black;
  display: flex;

  // position for small devices
  position: fixed;
  left: 0;
  top: 0;
  width: calc(100% - 20px);
  .full-width {
    width: 100%;
  }
  z-index: 9999;

  // position for large devices
  @media #{$gt-xs_size} {
    position: relative;
    width: 300px;
    margin: 0;
  }
  mat-icon {
    color: $material_red;
  }
  .close-button {
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
    background: #fafafa;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .mat-input-placeholder {
    color: $primary_black;
  }
  .mat-form-field-underline {
    display: none;
    height: 0 !important;
  }
  .mat-form-field-infix {
    margin: 3px 10px 0 10px !important;
    border: none !important;
  }
  mat-form-field {
    > div {
      max-height: 50px;
      background: #fafafa;
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
      padding: 0 !important;
      height: 100%;
      box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
    }
  }
}

button.mat-button {
  min-width: 0;
}
