<div class="checkout-container">


  <mat-horizontal-stepper linear="true">
    <mat-step stepControl>
      <span fxHide.xs *matStepLabel>Check Your order</span>
      <app-checkout-order [editable]="true"></app-checkout-order>
      <div class="action-end">
        <button mat-raised-button color="primary" matStepperNext>Next</button>
      </div>
    </mat-step>

    <mat-step [stepControl]="dataForm">
      <span fxHide.xs *matStepLabel>Confirm Your data</span>
      <div *ngIf="!_authService.authenticated" class="no-auth">Sign up first!</div>

        <div class="confirm-data">
          <app-confirm-data [dataForm]="dataForm" [editable]="true" *ngIf="_authService.authenticated"></app-confirm-data>
        </div>
      <div class="actions-between">
        <button mat-raised-button color="primary" matStepperPrevious>Back</button>
        <button mat-raised-button color="primary" matStepperNext>Next</button>
      </div>
    </mat-step>

    <mat-step>
      <span fxHide.xs *matStepLabel>Confirm</span>

      <div class="confirm-order">

        <div class="panel">
          <mat-expansion-panel expanded="true">
            <mat-expansion-panel-header>
              <mat-panel-title>Your order</mat-panel-title>
            </mat-expansion-panel-header>
            <app-checkout-order [editable]="false"></app-checkout-order>
          </mat-expansion-panel>
        </div>

        <div class="panel">
          <mat-expansion-panel expanded="true">
            <mat-expansion-panel-header>
              <mat-panel-title>Shipping information</mat-panel-title>
            </mat-expansion-panel-header>
            <app-confirm-data [dataForm]="dataForm" [editable]="false"></app-confirm-data>
          </mat-expansion-panel>
        </div>


      </div>
      <div class="actions-between">
        <button mat-raised-button color="primary" matStepperPrevious>Back</button>
        <button mat-raised-button class="order">order</button>
      </div>
    </mat-step>

  </mat-horizontal-stepper>
</div>
