
<div *ngIf="loading" class="my-spinner">
  <mat-spinner></mat-spinner>
</div>

<div *ngIf="!loading">
  <div class="product-list-header">
    <mat-form-field floatPlaceholder="never" *ngIf="!displayList">
      <mat-select placeholder="Sort">
        <mat-option *ngFor="let sort of sortTypes" [value]="sort.value" (click)="sortBooks(sort.value)">
          {{sort.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-icon [ngClass]="{'active': !displayList}" (click)="displayList = false">view_module</mat-icon>
    <mat-icon [ngClass]="{'active': displayList}" (click)="displayList = true">list</mat-icon>
  </div>

  <div class="product-miniatures" *ngIf="!displayList">
    <app-product-miniatures *ngFor="let book of _arrayBooks" [book]="book"></app-product-miniatures>
  </div>

  <div class="product-list text-center" *ngIf="displayList">
    <app-product-list></app-product-list>
  </div>
</div>

