@import '../../_helpers/variables';

.account-transfer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid $border_color;
  padding: 10px;
  span {
    padding: 10px 0;
  }
}
