<div class="product-container">
  <mat-card class="example-card">
    <div class="product-image">
      <img class="" mat-card-image src="https://s3.producthunt.com/static/kitty_265x244%402x.png"
           alt="Photo of a Shiba Inu">
    </div>

    <mat-card-content>
      <div class="info-container">

        <div class="left">
          <span class="product-name">{{product.name}}</span>
          <span class="product-desc">{{product.desc}} asd dasd dsa sdsa dasds asd sdasad asdsad sad </span>
        </div>

        <div class="right">
          <span class="product-price"><strong>{{product.price | currency: 'USD' : true}}</strong></span>
          <span class="product-stock">In stock: {{product.quantity}}0</span>
        </div>

      </div>
    </mat-card-content>

    <mat-card-actions class="text-center">
      <button mat-button (click)="addProductToCard()">
        <mat-icon>add_shopping_cart</mat-icon>
        <span>Add</span>
      </button>
      <button mat-button>
        <mat-icon>more_horiz</mat-icon>
        <span>More</span>
      </button>
    </mat-card-actions>

  </mat-card>

</div>
