<div class="book-container">
  <mat-card>
    <div class="book-image">
      <img class="" mat-card-image src="https://s3.producthunt.com/static/kitty_265x244%402x.png"
           alt="Photo of a Shiba Inu">
    </div>

    <mat-card-content>
      <div class="info-container">

        <div class="left">
          <span class="product-name">{{book.title}}</span>
          <span class="product-desc">{{book.desc}}</span>
        </div>

        <div class="right">
          <span class="product-price"><strong>{{book.price | currency: 'USD' : true}}</strong></span>
          <span class="product-stock">In stock:
            <span [ngClass]="{'inStock' : book.quantity > 0, 'notInStock': book.quantity === 0}">
              {{book.quantity}}
            </span>
          </span>
        </div>

      </div>
    </mat-card-content>

    <mat-card-actions class="text-center">
      <button mat-button (click)="addProductToCard()" [disabled]="book.quantity === 0">
        <mat-icon>add_shopping_cart</mat-icon>
        <span>Add</span>
      </button>
      <button mat-button [routerLink]="['/book', book.key]">
        <mat-icon>more_horiz</mat-icon>
        <span>More</span>
      </button>
    </mat-card-actions>

  </mat-card>

</div>
