@import '../../../_helpers/variables';

.book-image {
  height: 200px;
  img {
    height: 100%;
  }
}

.book-container {
  padding: 10px;
  width: calc(100vw - 20px); // 100% - padding
  max-width: 280px;
  @media #{$gt-xs_size}{
    width: 50vw;
  }
  @media #{$gt-sm_size}{
    width: 30vw;
  }

}

.info-container {
  display: flex;
  justify-content: space-between;
  span {
    padding: 5px 0;
  }
  .left {
    flex: 0.6;
    display: flex;
    flex-direction: column;
  }
  .right {
    flex: 0.4;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-left: 10px;
  }
}

mat-card-actions {
  button {
    padding: 0;
    margin: 0
  }
}

.inStock {
  color: $material_green;
  font-weight: 700;
}

.notInStock {
  color: $material_red;
  font-weight: 700;
}
