<div class="register-container">

  <div class="left">
    <mat-icon>lock</mat-icon>
    <p>You can create Your own account here. </p>
  </div>

  <div class="right">

    <mat-form-field>
      <input matInput placeholder="Name" [formControl]="name" required>
      <mat-error *ngIf="name.invalid">{{getNameErrorMsg()}}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Email" [formControl]="email" required>
      <mat-error *ngIf="email.invalid">{{getEmailErrorMsg()}}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Password" [formControl]="password" required
             [type]="hidePassword ? 'password' : 'text'">
      <mat-icon matSuffix (click)="hidePassword = !hidePassword">
        {{hidePassword ? 'visibility' : 'visibility_off'}}
      </mat-icon>
      <mat-error *ngIf="password.invalid">{{getPasswordErrorMsg()}}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Confirm password" [formControl]="confirmPassword" required
             [type]="hidePassword ? 'password' : 'text'" validateEqual="password">
      <mat-icon matSuffix (click)="hidePassword = !hidePassword">
        {{hidePassword ? 'visibility' : 'visibility_off'}}
      </mat-icon>
    </mat-form-field>
    <mat-error class="pass_error" *ngIf="(password.value !== confirmPassword.value) && confirmPassword.touched">
      Password mismatch
    </mat-error>

    <button mat-raised-button color="primary" (click)="register()">Register</button>

  </div>
</div>
