<div class="product-list-header">
  <mat-form-field floatPlaceholder="never">
    <mat-select placeholder="Sort" [(ngModel)]="sortSelectedValue" name="food">
      <mat-option *ngFor="let sort of sortTypes" [value]="sort.value" (click)="sortProducts(sort.value)">
        {{sort.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-icon [ngClass]="{'active': !displayList}" (click)="displayList = false">view_module</mat-icon>
  <mat-icon [ngClass]="{'active': displayList}" (click)="displayList = true">list</mat-icon>
</div>

<div class="product-miniatures" *ngIf="!displayList">
  <app-product *ngFor="let product of products | SearchPipe: _searchService.queryString" [product]="product"></app-product>
</div>

<div class="product-list text-center" *ngIf="displayList">

  <div class="product-list-content" *ngFor="let product of products | SearchPipe: _searchService.queryString">
    <div class="avatar" fxHide.xs="true">IMAGE</div>
    <div class="name">{{product.name}}</div>
    <div class="desc" fxHide.xs="true">{{product.desc}}</div>
    <div class="price"><strong>{{product.price | currency: 'USD' : true}}</strong></div>
    <div class="quantity">quan. {{product.quantity}}</div>
    <div class="actions">
      <button mat-button (click)="addProductToCard(product)" [disabled]="product.quantity === 0">
        <mat-icon>add_shopping_cart</mat-icon>
        <span>Add</span>
      </button>
    </div>
  </div>


</div>
