<div class="book-detail-container" *ngIf="book">

  <div class="book-detail">


    <mat-card class="book-info">
      <!-- AVATAR-->
        <div class="book-image">
          <img class="" mat-card-image [src]="book.image" [alt]="book.title + ' image'">
        </div>

      <!-- INFO -->
      <div class="info no-border">
        <p class="title">{{book.title}}</p>
        <!--<span class="my-hr" fxHide.xs="true"></span>-->
        <span class="author">{{book.author}}</span>
      </div>
    </mat-card>

    <!-- ACTIONS -->
    <mat-card class="actions no-left-borders">
      <div class="action-row">
        <span>Price:</span>
        <span><strong>{{book.price | currency: 'USD' : true}}</strong></span>
      </div>

      <div class="action-row">
        <span>In stock:</span>
        <span [ngClass]="{'inStock' : book.quantity > 0, 'notInStock': book.quantity === 0}"><strong>{{book.quantity}}</strong></span>
      </div>

      <div class="action-row">
        <span>Quantity:</span>
        <div class="quantity">
          <input type="number" [formControl]="quantityControl" min="1" [max]="book.quantity" (change)="setQuantity()">
        </div>
      </div>

      <span class="my-hr"></span>

      <div class="action-row">
        <span>Total price:</span>
        <span><strong>{{calculateTotalPrice() | currency: 'USD' : true}}</strong></span>
      </div>

      <div class="action-row">
        <div class="action-buttons">
          <button mat-button (click)="addProductToCard()" [disabled]="book.quantity === 0">
            <mat-icon>add_shopping_cart</mat-icon>
            <span>add</span>
          </button>
          <button mat-raised-button color="primary" [routerLink]="['/checkout']">
            <mat-icon>shopping_cart</mat-icon>
            <span>checkout</span>
          </button>
        </div>
      </div>

    </mat-card>

  </div>
</div>
