@import '../../../_helpers/variables';

.product-list-container {
  overflow-y:hidden;
  @include box_shadow;
}

.mat-table {
  overflow: auto;
}

mat-header-cell {
  display: flex;
  justify-content: center;
}

mat-row {
  transition: all .3s;
  &:hover {
    background: $border_color;
  }
}

.actions{
  @media #{$gt-md_size} {
    display: flex;
    justify-content: center;
  }
}

.book-image {
  height: 140px;
  width: 140px;
  img {
    max-width: 100%;
    max-height: 100%;
  }
}
