@import '../../../_helpers/variables';

// FIRST STEP - confirm order
.header {
  display: flex;
  padding: 20px 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid $border_color;
  color: darken($border_color, 10%);
}

.price {
  border-top: 1px solid $border_color;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  padding: 20px 0;
}

.book {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
  &:hover {
    background: $border_color;
  }

  .avatar {
    height: 100px;
    width: 100px;
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
}

.avatar {
  cursor: pointer;
  outline: none;
  flex: 0.4;
  @media #{$gt-xs_size} {
    flex: 0.2;
  }
}

.info {
  flex: 0;
  @media #{$gt-xs_size} {
    flex: 0.5;
  }
  display: flex;
  justify-content: space-between;
  .author {
    text-align: right;
  }
}

.quantity {
  flex: 0.6;
  @media #{$gt-xs_size} {
    flex: 0.3;
    padding-left: 50px;
  }
  display: flex;
  justify-content: space-between;
  input {
    max-height: 20px;
  }
}
