<mat-tab-group #myTabGroup>
  <mat-tab label="Books">

    <div class="book-container">

      <!--<app-arrayBooks-list></app-arrayBooks-list>-->

      <button mat-raised-button (click)="addBooks()">Add Books</button>

    </div>
  </mat-tab>

  <mat-tab label="Categories">

    <div class="categories-container">


      <button mat-raised-button (click)="addCategories()">Add Categories</button>

    </div>

  </mat-tab>

</mat-tab-group>

<!--<ul>-->
<!--<li class="text" *ngFor="let item of categories | async">-->
<!--<p>{{item.name}}</p>-->
<!--</li>-->
<!--</ul>-->

<!--<button (click)="addToList()">CLICK</button>-->
