<app-sidebar></app-sidebar>




<!--&lt;!&ndash;<div class="demo-sidenav-area">&ndash;&gt;-->
<!--&lt;!&ndash;<mat-sidenav-container>&ndash;&gt;-->
<!--&lt;!&ndash;<mat-sidenav #start mode="over" (close)="sidebarON=false" (open)="sidebarON=true" class="sidebar-content">&ndash;&gt;-->
<!--&lt;!&ndash;Start Side Sidenav&ndash;&gt;-->
<!--&lt;!&ndash;</mat-sidenav>&ndash;&gt;-->

<!--&lt;!&ndash;<mat-sidenav-content>&ndash;&gt;-->

<!--&lt;!&ndash;<div class="container">&ndash;&gt;-->
<!--&lt;!&ndash;<div class="row">&ndash;&gt;-->

<!--&lt;!&ndash;<form class="example-form">&ndash;&gt;-->
<!--&lt;!&ndash;<mat-form-field class="">&ndash;&gt;-->
<!--&lt;!&ndash;<input matInput placeholder="Favorite food">&ndash;&gt;-->
<!--&lt;!&ndash;</mat-form-field>&ndash;&gt;-->
<!--&lt;!&ndash;</form>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--&lt;!&ndash;</mat-sidenav-content>&ndash;&gt;-->
<!--&lt;!&ndash;</mat-sidenav-container>&ndash;&gt;-->

<!--&lt;!&ndash;</div>&ndash;&gt;-->


