@import "../../_helpers/variables";

mat-sidenav-container {
  height: 100vh;

  mat-sidenav {
    width: 250px;
    @include box_shadow();
    border-right: 1px solid $border_color;
  }

  .sidenav-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 63px;
    border-bottom: 1px solid $border_color;
  }

  .sidenav-content {
    padding: 20px
  }
  .sidenav-info {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    button {
      color: $my_grey;
    }
  }
}

.content {
  padding: 65px 0 20px 0;
}

.cart-nav {
  height: 100vh;
  width: 90vw;
  @media #{$gt_xs_size} {
    width: 50vw;
  }
  @media #{$gt_sm_size} {
    width: 40vw;
  }
  @media #{$gt_md_size} {
    width: 30vw;
  }
  .cart-nav-header {
    background: $material_green;
    padding: 20px;
    @include box_shadow;
    font-size: 1.2rem;
    color: $primary_white;
    display: flex;
    justify-content: space-between;
    mat-icon {
      cursor: pointer;
    }
  }

  .cardNav-content {
    padding: 20px 0;
  }
}

