<mat-sidenav-container>

  <mat-sidenav #sideNav  position="start" [mode]="hideSidenav ? 'over' : 'side'" [opened]="!hideSidenav">

    <div class="sidenav-header">
      <span>Sidenav</span>
    </div>

    <div class="sidenav-info">
      <button mat-button>
        <mat-icon>phone</mat-icon>
        <span>Contact</span>
      </button>

      <button mat-button>
        <mat-icon>info</mat-icon>
        <span>Info</span>
      </button>
    </div>

    <div class="sidenav-content">
      <p>1</p>
      <p>2</p>
      <p>3</p>
    </div>

  </mat-sidenav>

  <app-header [sideNav]="sideNav" [cardNav]="cardNav"></app-header>

  <div class="content">
    <app-products-list></app-products-list>
  </div>

  <mat-sidenav #cardNav position="end" class="cart-nav">
    <div class="cart-nav-header">
      <mat-icon (click)="cardNav.close()">clear</mat-icon>
      <span>Shopping Cart</span>
    </div>
    <div class="card-nav-content">
      <app-shopping-cart></app-shopping-cart>
    </div>
  </mat-sidenav>

</mat-sidenav-container>





