<mat-sidenav-container (backdropClick)="hideSidenav ? sideNav.close() : null" >

  <mat-sidenav [disableClose]="true" #sideNav [mode]="hideSidenav ? 'over' : 'side'" [opened]="!hideSidenav">

    <div class="sidenav-header" [routerLink]="['/books', '']" (click)="hideSidenav? closeSidebar() : null">
      <span>Sidenav</span>
    </div>

    <div class="sidenav-info">
      <button mat-button>
        <mat-icon>phone</mat-icon>
        <span>Contact</span>
      </button>

      <button mat-button>
        <mat-icon>info</mat-icon>
        <span>Info</span>
      </button>
    </div>

    <div class="sidenav-content">

      <div class="category-header">Category:</div>

      <div *ngIf="loading" class="my-spinner">
        <mat-spinner></mat-spinner>
      </div>

      <ul *ngIf="!loading">
        <li *ngFor="let category of _categories" class="list-item" [routerLink]="['/books', category.name]" [routerLinkActive]="['active']"
            (click)="hideSidenav? sideNav.close() : null">
          <span>{{category.name}}</span>
        </li>
      </ul>
    </div>

  </mat-sidenav>

  <app-header [sideNav]="sideNav" [cartNav]="cartNav"></app-header>

  <div class="content">
    <router-outlet></router-outlet>
  </div>


    <mat-sidenav #cartNav position="end" class="cart-nav">
      <div class="cart-nav-header">
        <mat-icon (click)="cartNav.close()">clear</mat-icon>
        <span>Shopping Cart</span>
      </div>
      <div class="card-nav-content">
        <app-shopping-cart [cartNav]="cartNav"></app-shopping-cart>
      </div>
    </mat-sidenav>

</mat-sidenav-container>





