<div class="register-container">

  <app-alert [msg]="response? response : error" [isSuccess]="!!response"></app-alert>


  <form [formGroup]="registerForm" (ngSubmit)="register()">
    <div class="fields-inline">
      <mat-form-field>
        <input matInput placeholder="Name" [formControl]="name" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Surname" [formControl]="surname" required>
      </mat-form-field>
    </div>

    <div class="fields-inline">
      <mat-form-field>
        <input matInput placeholder="Email" [formControl]="email" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Telephone" [formControl]="telephone" required>
      </mat-form-field>
    </div>

    <div class="fields-inline">
      <mat-form-field>
        <input matInput placeholder="Street" [formControl]="street" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Zip-code" [formControl]="zip_code" required pattern="^[0-9]{2}-[0-9]{3}$">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="City" [formControl]="city" required>
      </mat-form-field>
    </div>

    <div class="fields-inline">
      <mat-form-field>
        <input matInput placeholder="Password" [formControl]="password" required
               [type]="hidePassword ? 'password' : 'text'">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Confirm password" [formControl]="confirmPassword" required
               [type]="hidePassword ? 'password' : 'text'">
        <mat-icon matSuffix (click)="hidePassword = !hidePassword">
          {{hidePassword ? 'visibility' : 'visibility_off'}}
        </mat-icon>
      </mat-form-field>
    </div>

    <div class="actions">
      <button mat-raised-button color="primary" type="submit">Register</button>
    </div>
  </form>
</div>
