@import '../../_helpers/variables';

.user-profile{
  background: $primary_white;
  @include box_shadow;
  padding: 20px;
  margin: 20px;

  .user-form {
    padding: 0 20px;
    @media #{$gt-md_size} {
      width: 50%;
      margin: 0 auto;
    }
    .actions{
      width: 100%;
      @media #{$gt-xs_size} {
        width: 50%;
        margin: 0 auto;
      }
      button {
        width: 100%;
      }
    }
  }
}
