/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import 'app/_helpers/variables';

html, body {
  margin: 0;
  height: 100%;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
}

// align text
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

// spacers
.spacer-horizontally {
  flex: 1 1 auto;
}

.spacer-vertically {
  flex: 1;
}

// messages
@mixin msg-box {
  padding: 15px;
  color: $primary_white;
  @include box_shadow();
  text-align: center;
  margin: 10px 0;
  border-radius: 2px;
  font-size: 90%;
}

.success-msg {
  background: $material_green;
  @include msg-box;
}

.error-msg {
  background: $material_red;
  @include msg-box;
}

.fail-color {
  color: $material_red;
}

.success-color {
  color: $material_green;
}


// SPINNER
.my-spinner {
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 150px);
}

// simple hr
.my-hr {
  display: flex;
  width: 100%;
  height: 1px;
  margin: 10px 0;
  background: $border_color;
}

// colors for quantity of book
.inStock {
  color: $material_green;
  font-weight: 700;
}

.notInStock {
  color: $material_red;
  font-weight: 700;
}

// simple method for borders
.no-border {
  border-radius: 0;
}

.no-right-borders {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.no-left-borders {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

// to avoid wrong display without 'mat-step-label'
.mat-step-label{
  min-width: 0 !important;
}

// change padding of checkout stepper on small devices
.mat-horizontal-content-container{
  padding: 0 5px 20px 5px !important;
  @media #{$gt-xs_size} {
    padding: 0 20px 20px 20px !important;
  }
}
