/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import 'assets/bootstrap-grid.css';
@import 'app/_helpers/variables';

html, body {
  margin: 0;
  height: 100%;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
}

// align text
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

// spacers
.spacer-horizontally {
  flex: 1 1 auto;
}

.spacer-vertically {
  flex: 1;
}

// messages
@mixin msg-box{
  padding: 15px;
  color: $primary_white;
  @include box_shadow();
  text-align: center;
  margin: 10px 0;
  border-radius: 2px;
  font-size: 90%;
}

.success-msg {
  background: $material_green;
  @include msg-box;
}

.error-msg{
  background: $material_red;
  @include msg-box;
}
