<div *ngIf="_cartService.orders.length === 0" class="no-products">
  <span>No products</span>
</div>

<div *ngIf="_cartService.orders.length > 0">

  <div class="card-header">
    <button mat-button (click)="clearCard()">
      <span>Clear cart</span>
      <mat-icon>delete_forever</mat-icon>
    </button>
  </div>

  <div *ngFor="let order of _cartService.orders" style="padding: 10px;">
    <app-card-item [order]="order" [cardNav]="cartNav"></app-card-item>
  </div>

  <div class="check-out">
    <div class="price">
      <span>Total price: </span>
      <span><strong>{{_cartService.totalPrice | currency: 'USD' : true}}</strong></span>
    </div>
    <button mat-raised-button color="primary" [routerLink]="['/checkout']" (click)="cartNav.close()">check out</button>
  </div>

</div>
