<div *ngIf="_cardService.orders.length === 0" class="no-products">
  <span>No products</span>
</div>

<div *ngIf="_cardService.orders.length > 0">

  <div *ngFor="let order of _cardService.orders">
    <app-product [order]="order"></app-product>
  </div>

  <div class="check-out">
    <div class="price">
      <span>Total price: </span>
      <span><strong>{{_cardService.totalPrice | currency: 'USD' : true}}</strong></span>
    </div>
    <button mat-raised-button color="primary">CHECK OUT</button>
  </div>


</div>
