@import '../../_helpers/variables';

.no-products {
  padding: 20px;
}

.card-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  mat-icon {
    color: $material_red;
    cursor: pointer;
  }
}

.check-out {
  margin-top: 20px;
  padding: 10px 20px 20px 20px;

  .price {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    padding: 20px 0;
  }

  button {
    width: 100%;
  }
}
