<div class="data-container">

  <form [formGroup]="dataForm" class="data-form" *ngIf="editable">
    <div class="two-fields">
      <mat-form-field>
        <input matInput placeholder="Name" formControlName="name" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Surname" formControlName="surname" required>
      </mat-form-field>
    </div>
    <mat-form-field>
      <input matInput placeholder="Email" formControlName="email" required>
    </mat-form-field>
    <mat-form-field>
      <span matPrefix>+48 &nbsp;</span>
      <input matInput placeholder="Telephone" formControlName="telephone" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Address" formControlName="address" required>
    </mat-form-field>
    <div class="two-fields">
      <mat-form-field>
        <input matInput placeholder="Zip-code" formControlName="zip_code" required pattern="^[0-9]{2}-[0-9]{3}$"
               maxlength="6">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="City" formControlName="city" required>
      </mat-form-field>
    </div>
  </form>


    <form [formGroup]="dataForm" class="data-form" *ngIf="!editable">
      <div class="two-fields">
        <mat-form-field>
          <input matInput placeholder="Name" formControlName="name" readonly>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Surname" formControlName="surname" readonly>
        </mat-form-field>
      </div>
      <mat-form-field>
        <input matInput placeholder="Email" formControlName="email" readonly>
      </mat-form-field>
      <mat-form-field>
        <span matPrefix>+48 &nbsp;</span>
        <input matInput placeholder="Telephone" formControlName="telephone" readonly>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Address" formControlName="address" readonly>
      </mat-form-field>
      <div class="two-fields">
        <mat-form-field>
          <input matInput placeholder="Zip-code" formControlName="zip_code" readonly>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="City" formControlName="city" readonly>
        </mat-form-field>
      </div>
    </form>

  <div class="shipping" *ngIf="!editable">
    <div>
      <p><strong>Shipping:</strong></p>
      <mat-checkbox [ngModel]="true" [disabled]="true">Polish Post (2-3 days)</mat-checkbox>
    </div>
    <div>
      <p><strong>Payment:</strong></p>
      <mat-checkbox [ngModel]="true" [disabled]="true">Bank transfer</mat-checkbox>
    </div>
  </div>
</div>
